body {
  font-family:sans-serif;
  margin: 5%;
  background-color: rgb(221, 228, 252);
  padding: 2%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3{
  color: hotpink;
}


.main {
  align-content: center;
  width: 100%;
  text-align: left;
  height: auto; 
  position: relative;
}

#javascript-showing {
  display: none;
}

#operators-showing {
  display: none;
}

#variables-showing {
  display: none;
}

#variable-conventions-showing {
  display: none;
}

#functions-showing {
  display: none;
}

#methods-showing {
  display: none;
}

#arguments-showing {
  display: none;
}

#parameters-showing {
  display: none;
}

#return-showing {
  display: none;
}

#chaining-methods-showing {
  display: none;
}

#strings-showing {
  display: none;
}

#booleans-showing {
  display: none;
}

#undefined-showing {
  display: none;
}

#nan-showing {
  display: none;
}

#null-showing {
  display: none;
}

#alert-showing {
  display: none;
}

#comments-showing {
  display: none;
}

#jquery-showing {
  display: none;
}

#attributes-showing {
  display: none;
}





.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}